<%= form_for @product,:url => {:action => :create} do |f| %>

  <%= f.label :name,"商品名" %>
  <%= f.text_field :name %><br>
  
  <%= f.label :price,"値段(円)" %>
  <%= f.text_field :price %><br>
  
  <%= f.submit "登録" %>

<% end %>
<%= link_to "戻る",top_main_path %>