<body>
<div id="page">
<div id="pageSub">
      <h1 id="nameTitle">Miz</h1></br>
      近畿大学情報学科です</br>
      <p class="btn"><a href="a"><%=link_to'新規メッセージ',new_tweet_path %></a></p>
      <p class="btn"><a href="a"><%= link_to"DM","/tweets/new" %></a></p>
</div>



<div id="pageBody">
<% @tweets.each do |t| %>
  <font size="1"><%= ((Time.current - t.tdate)/60).to_i %>分前</br></font>
  <%= t.message %>
  <%= link_to "表示", "/tweets/#{t.id}/show" %>
  <%= link_to "編集", "/tweets/#{t.id}/edit" %>
  <%= link_to "削除","/tweets/#{t.id}",method: :delete %>
  <hr/>
<% end %>
</div>
</div>
</body>

