<% if !@order_item.nil? && @order_item.errors.any? %>
  <div class="alert alert-danger">
    <ul>
    <% @order_item.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<% if @order_items.size == 0 %>
  <p class="text-center">
    カートの中は空です。<%= link_to "こちら", root_path %>から商品をお選びください。
  </p>
<% else %>
  <% @order_items.each do |order_item| %>
    <%= render 'carts/cart_row', product: order_item.product, order_item: order_item, show_total: true %>
  <% end %>
<% end %>

<% if @order_item.present? %>
  <p class="text-center">x個のアイテムが入っています
  <%= link_to "買い物を続ける", root_path %></p>
  <% end %>